* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

section {
    display: flex;
}

.first-one {
    width: 50%;
    height: 100vh;
    padding-left: 10%;
    padding-top: 8%;
}

.first-one h1 {
    font-size: 50px;
}

p {
    color: maroon;
    font-size: 20px;
}

.first-one2 img {
    width: 70%;
    padding-left: 20%;
    padding-top: 8%;

}

span {
    color: rgb(253, 177, 35);
}

button {
    color: white;
    text-decoration: none;
    padding: 8px 5px;
    font-weight: bold;
    background-color: mediumvioletred;
}

.head {
    font-size: 40px;
    text-align: center;

}

.head-one img {
    width: 110%;
}

.head-one {
    padding-left: 10%;
}

.head-two img {
    width: 110%;
}

.head-two {
    background-color: rgb(225, 218, 204);
}

.head-three {
    background-color: rgb(218, 154, 207);
}

.head-one {
    background-color: rgb(135, 186, 156);
}

.head-three img {
    width: 110%;
}

img {
    width: 90%;
    padding-left: 170px;
    padding-top: 100px;
}

.third-one {
    padding-top: 15%;
    padding-right: 30%;
}

.third-one h1 {
    font-size: 30px;
}

.mission {
    box-shadow: 5px 5px 40px gray;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 20%;
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 15px;
}

footer p {
    color: white;
    text-decoration: none;
}

footer span {
    color: red;
}

.four-img img {
    width: 70%;
}

.four {
    padding-left: 20%;
    padding-top: 15%;
    b
}

.better {
    text-align: center;
    padding-top: 20px
}

.pro12 {
    width: 50%;
}

.pro10 {
    width: 50%;
}

.better-text {
    padding-top: 20%;
}