* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

section {
    display: flex;
}

.first-one {
    width: 50%;
    height: 100vh;
    padding-left: 10%;
    padding-top: 8%;
}

.first-one h1 {
    font-size: 50px;
}

p {
    color: maroon;
    font-size: 20px;
}

.first-one2 img {
    width: 70%;
    padding-left: 20%;
    padding-top: 8%;

}

span {
    color: lightcoral;
}

button {
    color: white;
    text-decoration: none;
    padding: 8px 5px;
    font-weight: bold;
    background-color: orange;
}

.head {
    font-size: 40px;
    text-align: center;
    padding-left: 50%;
}

.sec-one img {
    width: 80%;
    padding-left: 30%;
}

.sec-one {
    padding-left: 30%;
    padding-top: 20%;
}

.sec-one h1 {
    padding-left: 40%;
}